node_modules/
dist/
.DS_Store
apps/mobile/android/.gradle/
apps/mobile/android/build/
apps/mobile/android/app/build/
apps/mobile/ios/App/App/public/
apps/mobile/ios/App/Pods/
.idea

apps/api/.wrangler/
apps/api/.dev.vars
apps/api/local.db
